.App {
  display: grid;
  grid-template-columns: auto;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.chart-container {
  margin-bottom: 2rem;
  width: 80%;
  height: 100%;
}
.chart-box {
  border: 1px solid black;
  row-gap: 10px;
  border-radius: 10px;
  /* padding: 10px; */
  /* margin-bottom: 20px; */
   /* Add some space between boxes */
}
